
#upload_container{
    
    margin: 10% ;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#upload_container form{
    display: flex;
    flex-direction: column;
    
}
#upload_container form input{
    padding: 8px;
    outline: none;
    /* border: 1px solid lightblue; */
    margin-bottom: 8px;
}
#upload_container form button{
    padding:8px;
    outline: none;
    /* background-color: lightblue; */
    border: none;
    margin-bottom: 8px;
    cursor: pointer;
}
/* #upload_container form input[type="submit"]{
    background-color: lightgray;
    border: none;
}
#upload_container form input[type="submit"]:hover{
    background-color: white;
    cursor: pointer;
    border: 1px solid lightblue;
} */

#upload_container form input[type="submit"] {
    border: 2px solid #3c73ff;
    background-color: #3c73ff;
    border-radius: 20px;
    color: #fff;
    transition: .3s;
  }
  #upload_container form input[type="submit"]:hover {
    box-shadow: 8px 8px #99bdff;
    transition: .3s;
  }
  